<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="navbar_ext">
      <nav class="navbar_int">
        <ul class="list">
          <li>
            <img class="logo" src="../assets/img/logo.png">
          </li>
          <li class="home">
            <a href="../index.html" class="font1">Home</a>
          </li>
          <li class="galr">
            <a href="gallery.html" class="font1">Gallery</a>
          </li>
          <li class="dropdown">
            <a href="#" class= "font1">Infos</a>
              <div class="dropdown-c">
                <p class="drop"><a href="matieres.html">Nos matières premières</a></p>
                <p class="drop"><a href="nos_boutiques.html">Points de ventes</a></p>
              </div>
          </li>
        </ul>
        <div class="input_ext">
          <input class="input_int" placeholder="Search">
        </div>
        <div class="magni_cont">
          <div class="magni_top">
            <div class="magni_bot">
              <div class="handfull">
              </div>
            </div>
          </div>
        </div>
      </nav>
      </div>
      <div class="sep">
      </div>
      <div class="content1">
        <div ="slider">
          <img src="../assets/img/tissu1.jpg" class="img_size">
          <img src="../assets/img/tissu2.jpg" class="img_size">
          <img src="../assets/img/tissu3.jpg" class="img_size">
          <img src="../assets/img/tissu4.jpg" class="img_size"
        </div>
      </div>
  </body>
</html>
