<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
    <title></title>
  </head>
  <body>
    <div class="navbar_ext">
      <nav class="navbar_int">
        <ul class="list">
          <li>
            <img class="logo" src="../assets/img/logo.png">
          </li>
          <li class="home">
            <a href="../index.html" class="font1">Home</a>
          </li>
          <li class="galr">
            <a href="gallery.html" class="font1">Gallery</a>
          </li>
          <li class="dropdown">
            <a href="#" class= "font1">Infos</a>
              <div class="dropdown-c">
                <p class="drop"><a href="matieres.html">Nos matières premières</a></p>
                <p class="drop"><a href="nos_boutiques.html">Points de ventes</a></p>
              </div>
          </li>
        </ul>
        <div class="input_ext">
          <div class="input_int">
            <p>Input</p>
          </div>
        </div>
        <div class="magni_cont">
          <div class="magni_top">
            <div class="magni_bot">
              <div class="handfull">
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="window_cont">
      <a href="../index.html" class="window1">
        <h4 class="font1">Pulls et vestes</h4>
      </a>
      <a href="tops.html"  class="window2">
          <h4 class="font1">Tops</h4>
      </a>
      <a href="pantalons.html" class="window3">
        <h4 class="font1">Pantalons</h4>
      </a>
      <a href="other.html" class="window4">
        <h4 class="font1">Autres</h4>
      </a>
    </div>
    <div class="content1">
      <div class="fiche">
        <img class="fiche_img" src="../assets/img/casquette.jpg">
        <div class="fiche_in">
          <p>Ceci est un pull. Ce pull est beau. Oui, il coute 2.700$$$, mais il est TRES BEAU PUTAIN !!! ... Au fait, je vous ai déja dit que ce pull était beau ? Il est tellement beau que depuis que je le porte en ville, déja plus de 5.3 de mes voisins ont achtés le même. C'est vous dire ... Ce pull est si beau que dans quelques annés, les personnes ne portant pas ce pull seront jugées inaptes à vivre en sociétée. Ceux n'en ayant pas encore d'ici 5 ans ne n'ayant plus d'autres options que de mettre fin à leurs jours, ce sera un produit de luxe.</p>
        </div>
      </div>
      <div class="fiche">
        <img class="fiche_img" src="../assets/img/casquette.jpg">
        <div class="fiche_in">
          <p>Ceci est un pull. Ce pull est beau. Oui, il coute 2.700$$$, mais il est TRES BEAU PUTAIN !!! ... Au fait, je vous ai déja dit que ce pull était beau ? Il est tellement beau que depuis que je le porte en ville, déja plus de 5.3 de mes voisins ont achtés le même. C'est vous dire ... Ce pull est si beau que dans quelques annés, les personnes ne portant pas ce pull seront jugées inaptes à vivre en sociétée. Ceux n'en ayant pas encore d'ici 5 ans ne n'ayant plus d'autres options que de mettre fin à leurs jours, ce sera un produit de luxe.</p>
        </div>
      </div>
      <div class="fiche">
        <img class="fiche_img" src="../assets/img/chapeau.jpg">
        <div class="fiche_in">
          <p>Ceci est un pull. Ce pull est beau. Oui, il coute 2.700$$$, mais il est TRES BEAU PUTAIN !!! ... Au fait, je vous ai déja dit que ce pull était beau ? Il est tellement beau que depuis que je le porte en ville, déja plus de 5.3 de mes voisins ont achtés le même. C'est vous dire ... Ce pull est si beau que dans quelques annés, les personnes ne portant pas ce pull seront jugées inaptes à vivre en sociétée. Ceux n'en ayant pas encore d'ici 5 ans ne n'ayant plus d'autres options que de mettre fin à leurs jours, ce sera un produit de luxe.</p>
        </div>
      </div>
      <div class="fiche">
        <img class="fiche_img" src="../assets/img/casquette.jpg">
        <div class="fiche_in">
          <p>Ceci est un pull. Ce pull est beau. Oui, il coute 2.700$$$, mais il est TRES BEAU PUTAIN !!! ... Au fait, je vous ai déja dit que ce pull était beau ? Il est tellement beau que depuis que je le porte en ville, déja plus de 5.3 de mes voisins ont achtés le même. C'est vous dire ... Ce pull est si beau que dans quelques annés, les personnes ne portant pas ce pull seront jugées inaptes à vivre en sociétée. Ceux n'en ayant pas encore d'ici 5 ans ne n'ayant plus d'autres options que de mettre fin à leurs jours, ce sera un produit de luxe.</p>
        </div>
      </div>
      <div class="fiche">
        <img class="fiche_img" src="../assets/img/chapeau.jpg">
        <div class="fiche_in">
          <p>Ceci est un pull. Ce pull est beau. Oui, il coute 2.700$$$, mais il est TRES BEAU PUTAIN !!! ... Au fait, je vous ai déja dit que ce pull était beau ? Il est tellement beau que depuis que je le porte en ville, déja plus de 5.3 de mes voisins ont achtés le même. C'est vous dire ... Ce pull est si beau que dans quelques annés, les personnes ne portant pas ce pull seront jugées inaptes à vivre en sociétée. Ceux n'en ayant pas encore d'ici 5 ans ne n'ayant plus d'autres options que de mettre fin à leurs jours, ce sera un produit de luxe.</p>
        </div>
      </div>
      <div class="fiche">
        <img class="fiche_img" src="../assets/img/chapeau.jpg">
        <div class="fiche_in">
          <p>Ceci est un pull. Ce pull est beau. Oui, il coute 2.700$$$, mais il est TRES BEAU PUTAIN !!! ... Au fait, je vous ai déja dit que ce pull était beau ? Il est tellement beau que depuis que je le porte en ville, déja plus de 5.3 de mes voisins ont achtés le même. C'est vous dire ... Ce pull est si beau que dans quelques annés, les personnes ne portant pas ce pull seront jugées inaptes à vivre en sociétée. Ceux n'en ayant pas encore d'ici 5 ans ne n'ayant plus d'autres options que de mettre fin à leurs jours, ce sera un produit de luxe.</p>
        </div>
      </div>
    </div>
  </body>
</html>
